/* This file is for your main application css. */

@import "./phoenix.css";

html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #7db9e8 100%)
    fixed;
}

body {
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.container {
  max-width: none;
}

.launch-page {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.join-page {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.join-page .dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.launch-page button,
.join-page .dashboard {
  transform: scale(3);
}

.join-page .copy-link {
  background: green;
  border-color: green;
}

.join-page p {
  font-size: 0.6em;
}

.arena {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: auto;
}

.active-game .stats {
  margin-top: 2em;
  margin-left: 0.5em;
  font: 1em "Impact", sans-serif;
}

.active-game .controls {
  font: 1em "Impact", sans-serif;
  margin-left: 0.5em;
}

.active-game .player-stats {
  margin-left: 0;
}

.active-game ul {
  margin-top: 2em;
  list-style-type: none;
}
