<div class="page join-page">
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  <script type="text/javascript">
    new window.ClipboardJS('.copy-link');
  </script>
  <div class="dashboard">
    <div>
      <a class="button copy-link" data-clipboard-text="<%= "#{BlastWeb.Endpoint.url}#{Routes.game_path(@conn, :join, @game_id)}" %>">Copy link 📋</a>
      <%= form_for @conn, Routes.game_path(@conn, :join, @game_id), fn _ -> %>
        <%= submit "Join Game 🚀" %>
      <% end %>
    </div>
    <p>
      Copy and share the link to play with friends 👫
    </p>
  </div>
</div>