<div class="page join-page">
  <script src="<%= Routes.static_path(@conn, "/js/clipboard.js") %>" ></script>
  <script>
    new ClipboardJS('.copy-link');
  </script>
  <div class="dashboard">
    <div>
      <a class="button copy-link" data-clipboard-text="<%= Routes.game_path(@conn, :join_game, @game_id) %>">Copy link 📋</a>
      <a class="button" href="<%= Routes.game_path(@conn, :join_game, @game_id) %>">Join Game 🎮</a>
    </div>
    <p>
      Copy and share the link to play with friends 👫
    </p>
  </div>
</div>